@import url(./bootstrap/bootstrap.min.css);
@import url(./variables.css);

@font-face {
    font-family: "Josephin";
    src: url(../Josephin.ttf);
}

h1 {
    font-family: "Josephin";
    padding: 5px 0px 0px 25px;
}

* {
    font-family: var(--default-font);
    user-select: none;
}


body {
    background-color: var(--body-color);
    color: var(--font-color);
}

.badge-secondary {
    background-color: var(--badge-secondary-color);
}

.container {
    margin: 1rem;
    min-width: calc(100vw - 30px);
}


header {
    margin: 5px;

    h1 {
        display: inline-block;
    }

    img {
        height: 40px;
        margin-bottom: 1rem;
    }
}

.hidden {
    display: none;
}

br {
    margin: 0.5rem;
}


.floatting-btn {
    margin: 5px 0px;
}

.kt-panel-footer {
    text-align: center;
    border-top: 1px solid #8080806b;
    padding: 20px 20px 0 20px;
}

/*Components*/


/* Buttons */

.btn {
    border-radius: var(--pill-radius);
}


.btn-primary {
    background-color: var(--primary-bttn-color);
    border-color: var(--primary-dropdown-bttn-color);
}

.btn-primary.dropdown-toggle {
    background-color: var(--primary-dropdown-bttn-color);
    border-color: var(--primary-dropdown-bttn-color);
}

.btn-primary.dropdown-toggle:hover {
    background-color: var(--bs-primary);
    border-color: var(--bs-primary);
}


:is(.btn-group, .input-group) :first-of-type {
    border-top-left-radius: var(--pill-radius);
    border-bottom-left-radius: var(--pill-radius);
}


:is(.btn-group, .input-group) :last-of-type {
    border-top-right-radius: var(--pill-radius);
    border-bottom-right-radius: var(--pill-radius);
}

.btn-group,
:not(.btn-group) .btn {
    box-shadow: var(--button-shadow);
}


/** Lists */
.list-group {
    border-radius: 1rem;
}

.list-group {
    box-shadow: var(--default-shadow);
}

.list-group-item:not(.list-group-item-info):not(.list-group-item-danger) {
    background-color: var(--list-bg-color) !important;
    color: var(--list-font-color) !important;
}