:root{
    --default-shadow: 0px 0px 10px -8.5px black;
    --button-shadow: 0px 0px 10px -7px black,0px 0px 10px -7px white inset;
    --default-font:  -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

@media (prefers-color-scheme: dark){
    :root{
        --body-color: black;
        --font-color: #fff;
        --list-bg-color: #222;
        --list-font-color: white;
        --badge-secondary-color: var(--list-bg-color);
        --offcanvas-color: #111;
        --transparent-border: #fff5;
        

        --renamable-background-color: #fff2;
        --renamable-border-color: #fff6;

        --searchbox-backdrop: linear-gradient(#000 39%,#0005 100%);

        --popover-header-bg-color: #141414;
        --popover-body-bg-color: var(--popover-header-bg-color);
        --popover-bg-color: #222
    }
}
@media (prefers-color-scheme: light) {
    :root{
        --body-color: #eee;
        --font-color: var(--bs-body-color);
        --list-bg-color: white;
        --list-font-color: var(--bs-body-color);
        --badge-secondary-color: #555;
        --offcanvas-color: white;
        --transparent-border: #0001;

        --renamable-background-color: #0002;
        --renamable-border-color: #0006;

        --searchbox-backdrop: linear-gradient(#eee 39%,#eee5 100%);

        --popover-header-bg-color: #eee;
        --popover-body-bg-color: var(--popover-header-bg-color);
        --popover-bg-color: var(--list-bg-color)
    }
}
