.kt-component-moodgroup {

    display: grid;
    grid-template-columns: repeat(2, calc(48.5vw - 40px));
    gap: 3vw;
    background-color: color-mix(in srgb, var(--list-bg-color) 70%, rgba(0, 0, 0, 0) 30%);
    padding: 7px 14px;
    border-radius: 32px;
    margin-top: -0.91px;

    .empty {
        border: var(--transparent-border) dotted 5px;
        margin: 25px 1rem;
        padding: 2vw;
        min-height: 300px;
        display: inline-block;
        font-size: 1.2em;


        p {
            margin: 0;
            font-size: 1.2em;
            font-weight: bold;
        }
    }


    .hiddenSeparator {
        text-align: center;
    }

    .accordion {
        margin-top: 1rem;
    }

    .accordion-button {
        background-color: var(--body-color);
    }

    .notify-expiracy,
    .kt-component-moodgroup-header {
        grid-column: 1/ span 2;
    }

    .notify-expiracy {
        opacity: 0.75;
        font-style: italic;
        text-align: center;
    }

    .scroll-top-bttn {
        position: fixed;
        bottom: 25px;
        right: 25px;
        box-shadow: 0px 0px 25px -5px var(--primary-bttn-color);
        z-index: 1000;
        transition: 0.5s;
        padding: 0;
    }

    .scroll-top-bttn svg {
        zoom: 2.5;
    }

    .scroll-top-bttn.hide-btn {
        bottom: -250px;
    }

    .kt-component-moodgroup-header {
        display: grid;
        grid-template-columns: auto 1fr auto;
        padding: 12px 4px;
        margin-bottom: -30px;
        text-transform: capitalize;
        gap: 1.5em;

        h3{
            margin-left: 5px;
        }

        .description{
            opacity: 0.3;
            margin: auto 0;
        }
    }
}