.kt-component-tabgroup {
    grid-row-end: span var(--tabs);
}

.kt-component-tabgroup>.btn-group{
    margin: 7px 12px;

}

.tabs-in-basket{
    opacity: 0.5;
}

.tabs-in-basket:hover{
    opacity: 1;
}