.kt-component-tabgroup {
    /* display: inline-block; */
    grid-row-end: span var(--tabs);

    margin-bottom: 1rem;
}

.kt-component-tabgroup>.btn-group{
    margin: 7px 12px;

}

.tabs-in-basket{
    opacity: 0.5;
}

.tabs-in-basket:hover{
    opacity: 1;
}