.tabs li img{
    width: 25px;
    border-radius: 5px;
    margin-right: 15px
}

.tabs li small{
    margin-left: 15px;
    opacity: 0.5;
}

.tabs a{
    text-decoration: none;
}

.tabs li.disappear{
    display: none;
}

.tabs li.unselected{
    opacity: 0.3;
}

.tabs li img{
    cursor: pointer;
}

.tabs li.unselected img:hover{
    filter: drop-shadow(2px 0px 6px rgb(82, 123, 212));
}

.tabs li img:hover{
    filter: drop-shadow(2px 0px 3px rgb(183, 195, 235));
}

#loaded ul.tabs,section{
    margin-bottom: 25px;
}

h2{
    text-transform: capitalize;
}

*{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

*{
    user-select: none;
}

/* li, li *{
    user-select: all;
} */

body{
    background-color: #eee;
}

.badge-secondary{
    background-color: #555;
}

.container{
    margin: 15px;
    min-width: calc(100vw - 30px);
}

header h1{
    display: inline-block;
}
header{
    margin: 5px;
}

header img{
    height: 40px;
    margin-bottom: 15px;
}

.time-ago{
    margin: 0;
    opacity: 0.7;
}

.hidden{
    display: none;
}