.kt-component-tab-reduced{
    display: grid;
    grid-template-columns: auto 1fr;
    
    .kt-component-tab-reduced-imgs{

    }

    b{
        white-space: nowrap;
        margin: auto 7px;
    }

    img{
        margin-right: 8px !important;
    }   
}