.kt-component-category-navbar {
    display: flex;
    gap: 20px;
    margin: 0 25px;

    .kt-component-mood-navbar {
        /* --popover-width: 27px;

        padding-right: var(--popover-width); */
        flex-wrap: nowrap;
        overflow-x: scroll;
        overflow-y: hidden;
        padding-top: 15px;
        height: 60px;
        border-radius: 0 40px 25px 0;
        border: none;

        .mood-name {
            text-transform: capitalize;
            margin-right: 10px;
        }

        /* One of the pills */
        .nav-item {
            white-space: nowrap;
        }

        .nav-link {
            color: var(--font-color);
            border: none;
        }

        .nav-link.active {
            border-radius: 15px 15px 0 0;
            background-color: color-mix(in srgb, var(--list-bg-color) 70%, rgba(0, 0, 0, 0) 30%) !important;
            color: var(--primary-bttn-color);
        }

        .category-popover-icon {
            box-shadow: none;
            transform: translateY(-.5px);
            padding-left: 0;
            padding-right: 0;
            color: black;
        }



        @media (prefers-color-scheme: light) {
            .nav-link.active .category-popover-icon {
                color: var(--primary-bttn-color);
            }

            .selected.badge {
                background-color: var(--primary-bttn-color);
                color: var(--body-color);
            }
        }

        @media (prefers-color-scheme: dark) {
            .nav-link.active .category-popover-icon {
                color: var(--font-color);
            }

            .selected.badge {
                background-color: var(--font-color);
                color: var(--body-color);
            }
        }
    }

}