.kt-component-mood-navbar {
    --popover-width: 27px;

    padding-right: var(--popover-width);
    flex-wrap: nowrap;
    overflow-x: scroll;
    padding: 15px 0;

    .mood-name {
        text-transform: capitalize;
        margin-right: 10px;
    }

    /* One of the pills */
    .nav-item {
        display: flex;
        flex-shrink: 0;
    }

    .nav-item .badge:not(.selected) {
        background-color: hsla(231.5, 100%, 45.9%, 0.36) !important;
        color: var(--primary-pill-text-color);
    }

    .nav-item:hover .badge:not(.selected) {
        background-color: white !important;
        color: var(--primary-bttn-color);
    }



    .nav-link.active {
        background-color: var(--primary-bttn-color);

        .badge{
            color: var(--primary-bttn-color) !important;
        }
    }

    .nav-link {
        padding-right: calc(var(--popover-width));
        border-radius: var(--pill-radius);
        color: var(--primary-pill-text-color);
    }

    .category-popover-icon {
        margin-left: calc(-1 * var(--popover-width) - 25px);
        padding-left: 27px;
        box-shadow: none;
        transform: translateY(-.5px);
    }

    .selected .category-popover-icon, .not-selected:hover .category-popover-icon {
        color: white;
    }

    .not-selected .category-popover-icon {
        color: var(--primary-pill-text-color);
    }

    .not-selected .nav-link{
        background-color: var(--primary-pill-color);
    }

    .not-selected:hover .nav-link{
        background-color: var(--primary-dropdown-bttn-color);
        color: white;
    }
}