#category-popover {
    background-color: var(--popover-bg-color);
    color: var(--font-color) !important;
    border-radius: 25px;
    box-shadow: 0 10px 8px 5px var(--body-color);

    .popover-header {
        text-align: center;
        background-color: #0000;
        border-bottom: none;
    }

    .popover-body {
        color: var(--font-color) !important;
        padding: 0;

        .list-group {
            max-height: 200px;
            overflow: auto;
        }
    }

    .bs-popover-auto[data-popper-placement^="bottom"]>.popover-arrow::after,
    .bs-popover-bottom>.popover-arrow::after {
        border-bottom-color: var(--popover-header-bg-color);
    }

    .bs-popover-auto[data-popper-placement^="bottom"] .popover-header::before,
    .bs-popover-bottom .popover-header::before {
        border-bottom: none;
    }

    .list-group.withSettings .list-group-item {
        padding: .25em .5em;
        overflow: hidden;
        background-color: #fff1 !important;
    }

    .list-group-item:not(.list-group-item-info):not(.list-group-item-danger) {
        background-color: #fff1 !important;
    }

    b {
        text-align: center;
        display: block;
        padding: 5px;
        font-size: 1.2em;
    }

    .popover-body {
        margin: 0 10px 10px;
    }

    #remove-category{
        margin-top: 10px;
        font-weight: bold;
        color: red;
        transition: 0.3s;
    }

    #remove-category:hover{
        background-color: red;
        color:white;
    }

    .kt-component-renamable{
        opacity: 0.7;
        font-size: 1.3em;
    }
}